footer
  .container
    ul
      li
        a(href='#tocmodal', data-toggle='modal', data-target='#tocmodal') Privacy & Terms
    p
      | Copyright Trademate Sports 2016, a product by
      a(href='http://edgeanalytics.tech', target='_blank') &nbsp;Edge Analaytics AS
      |. All rights reserved.
