#tocmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Terms and Conditions
      .modal-body
        h4 Acceptance
        p By entering the Tradematesports.com website, registering as a member or using of any of our information or services, you (the “User”) are agreeing to the following terms and conditions.
        h4 Content
        p All material on this website is the property of Tradematesports.com. It is therefore expressly forbidden, without prior permission, to use or in any way exploit any content from this website produced by Tradematesports.com.

        p It is also prohibited to sell, or pass on in any way, to any third party any information obtained from Tradematesports.com.

        h4 Disclaimer
        p Tradematesports.com cannot be held responsible for any losses or consequential losses arising from the use of this website. The User must be aware that there are risks involved with every sports betting transaction, and Tradematesports.com does not guarantee winnings from presented odds and arbitrages. Presented odds and sports arbitrages provided by Tradematesports.com should not be considered as betting advice.

        p Although Tradematesports.com will always try to provide accurate betting information, the User agrees to take responsibility of all losses or consequential losses.

        h4 Use
        p By using the information supplied by Tradematesports.com, you hereby completely and fully indemnify Tradematesports.com in so far as the law permits from liability to you and/or any third party for any damages that may arise.

        h4 Subscribers
        p The Users are forbidden to sell or share, to any third party, any information obtained from Tradematesports.com. The Users hereby agree that all information obtained from Tradematesports.com will only be used to place bets.

        h4 Refunds
        p No refunds will be given.

        h4 Acceptable Usage
        p Tradematesports.com has the right to cancel a subscription without any notice or refund if we believe, at our discretion, that a subscriber’s usage is unacceptable. It is strictly forbidden to use any form of automated software or robots that periodically logs into or loads the website.

        h4 Recurring payment
        p When subscribing to our service, it is required and agreed that you provide us with your legal name, billing address, email address and any payment method and payment authorization details needed to pay the monthly membership fee, accepted by the site. There is a no refund policy on fees paid for this Service. The existing subscription will automatically convert to a rolling monthly contract once the subscription has expired. This is non-refundable and it is the User’s | responsibility to terminate the subscription when the User no longer wants to pay for our services. The User’s periodic membership payment will be charged on a monthly basis on the date the User originally subscribed to this Service. In the event that the payment date falls on a date not contained in the payment month at question, it will be charged on the first of that month.

        h4 Termination
        p In the event that any User has breached these Terms and Conditions, or have been involved in any conduct deemed unacceptable by Tradematesports.com, we reserve the right to terminate the use and access to Tradematesports.com without prior notice.

        h4 Gambling
        p Please note that it is the User’s responsibility to comply with the laws and regulations in their jurisdiction with regards to gambling and sports betting.

        h4 Modification of Terms
        p Tradematesports.com reserves the right to change these Terms and Conditions without prior notice.

        h4 Entire Agreement
        p This Agreement constitutes the entire agreement between the User and Tradematesports.com and supersedes all communications, negotiations, arrangements and agreements, whether oral or written, between the User and Tradematesports.com (including but not limited to all correspondence the User has with Tradematesports.com affiliates) with respect to the subject matter of this Agreement. Nothing in this clause shall limit or exclude any liability for fraud.
      .modal-footer
        button.btn.btn-info(type='button', data-dismiss='modal') Close
