extends components/baseplan.pug

block plan_name
  | Trademate Core

block intro_text
  | Trademate Core is designed as an entry-level value betting tool, that is ideal for generating a secondary income or building your trading bankroll before moving into the Asian markets.

block topright_video
  iframe(width='100%', height='200px', src="https://www.youtube.com/embed/gXG56feiqKY?showinfo=0", frameborder="0" allowfullscreen)

block monthly_price
  | 120

block quarterly_price
  | 300

block requirements
  | The recommended starting bankroll is minimum €1000, and it is highly recommended to spend at least 4 hours a week trading. This could be heavily skewed towards the weekend, when there's a lot of action on.

block features
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 Ease of use
      p The soft bookmakers you'll have access to usually have quite slow reaction times, so trades will exists for a longer time.
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 35 bookmakers
      p You'll have access to 35 soft bookmakers. From time to time we change them, so you won't get limited on all of them.
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 Limited product cycle
      p These bookmakers does not like winning players, so they do what they can to shut you out. Check out how to maximize lifetime value in our content center.
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 Excellent starting fund tool
      p This plan is a very good way to build your initial fund, which later can be used to trade high volume in the asian markets.
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 Support
      p You will have direct access to the Trademate team through the Intercom tool. We are on hand to answer any questions or offer support.
