extends components/baseplan.pug

block plan_name
  | Trademate Pro

block intro_text
  | Trademate Pro is designed for the professional/aspiring professional sports bettor or any individual wishing to generate a secondary income from trading in the Asian/Exchange betting markets.

block topright_video
  iframe(width='100%', height='200px', src="https://www.youtube.com/embed/5IGYc0N3CQE?showinfo=0", frameborder="0" allowfullscreen)

block monthly_price
  | 400

block quarterly_price
  | 1000

block requirements
  | The recommended starting bankroll is minimum €10000, and it is highly recommended to spend at least 12 hours a week trading resulting in 150+ trades a week. This could be heavily skewed towards the weekend, when there's a lot of action on.

block features
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 Access to sharp books as well as soft books
      p You will have access to all the soft books + the asian sharp books. This can increase your volume dramatically.
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 Unlimited product cycle
      p Trading in Asia means higher limits, and you'll not get limited and shut out.
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 Constructive analysis tool
      p Our exclusive constructive analysis tool lets you delve into your own data to optimize your closing line EV.
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 24/7 support
      p You'll have a direct line to the Trademate Sports team, 24 hours a day 7 days a week. We're here for you.
  li
    i.ionicons.ion-ios-checkmark-outline
    .content
      h2 Part of a community
      p As a Pro customer you will have exclusive access to the Pro community, this community is made up of like minded individuals and traders who can assist with discussing strategy and performance optimisation.

